.container {
    padding: 0 1rem;
    margin: 3rem auto 6rem;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
}

.sidebar {
    z-index: 10000;
    position: sticky;
    background: #f7f7f7;
    display: block;
    overflow: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: width 0.1s;
    width: fit-content;
}

.content {

}